 @media(max-width:480px) and (min-width:360px) {
     .navbar ul {
         display: flex;
         list-style: none;
         flex-direction: column;
         display: none;
     }
     .navbar:hover .grop{
        display: block;
     }
    
        
     .navbar ul li {
         padding: 8px 10px;
     }

     .navbar {
         z-index: 3;
         width: 100%;
         margin-top: 16%;
         margin-left: -25%;
         margin-right: 10%;
         background-color: #fff;
         
     }
   
     .navbar ul li a {
         color: grey;
     }

     .text-header {
         z-index: 1;
     }

     header {
         background: linear-gradient(rgba(45, 53, 69, 0.7), rgba(45, 53, 69, 0.7)), url(../img/hero-bg.jpg);
         height: 100vh;
         background-repeat: no-repeat;
         width: 100%;
         background-position: center;
         background-size: cover;
     }

     .link1 .drop-down {
         display: flex;
         flex-direction: column;
         display: none;
         background-color: #fff;
         box-shadow: 1px 1px 10px rgb(83, 78, 78);
         border-radius: 2px;
     }

     .link1:hover .drop-down {
         display: block;
         right: 0%;
         top: 80.2%;
         width: 100%;
         position: relative;

     }

     .drop-down .drop-down1 {
         position: relative;
         display: flex;
         flex-direction: column;
         right: -0%;
         background-color: #fff;
         display: none;
         box-shadow: 1px 1px 10px rgb(78, 75, 75);

     }

     .link2:hover .drop-down1 {
         display: block;
     }

     .link1 .fa-chevron-right {
         margin-left: 0em;
     }

     .link1 .fa-chevron-down {
         margin-left: 14em;
     }

     .fa-bars {
         /* padding-left: 380px; */
         font-size: 24px;
         color: #ffffff;
         position: absolute;
         top: 40%;
         opacity: 1;
         left: 80%;
     }
     .main-content {
         width: 70%;
         margin: auto;
         margin-left: 18%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;
         padding: 10px 0px 25px 0px;
     }

     .main-content img {
         width: 90%;
         padding-top: 20px;

     }

     .main-content .img img {
         width: 40%;

         filter: grayscale(100);
         transition: 0.3s;
     }

     .main-company {
         display: flex;
         justify-content: space-between;
         width: 100%;
         margin-left: 15%;

     }

     .img:hover img {
         filter: grayscale(0);
         transform: scale(1.2);
     }

     .main-container {
         width: 90%;
         margin: auto;
         display: flex;

         flex-direction: column;
     }

     .main-container .main1 {
         width: 100%;
         height: 600px;

     }

     .main2 {
         width: 100%;
         position: relative;
         margin-top: -65%;
         margin-left: -10%;
     }

     .main-text {
         display: flex;
         padding-top: 30px;
         justify-content: space-between;
         flex-direction: column;
         margin-bottom: 20%;
         margin-top: -8%;

     }

     .main2 p {
         font-size: 18px;
         color: #848484;
         padding-left: 50px;
         padding-top: 20px;
         font-weight: 400;
     }

     .text-main2 {
         padding-top: 35px;
     }

     .text-main2 p {
         padding-top: 8px;
         font-weight: 100;
         width: 80%;
     }

     .main2 p {
         width: 100%;
     }

     .main-info {
         display: flex;
         width: 90%;
         margin: auto;
         flex-wrap: unset;
         justify-content: space-around;
         align-items: center;
         padding: 50px;
         text-align: center;
         flex-direction: column;

     }

     .info-one {
         display: flex;
         width: 70%;
         justify-content: space-between;
         position: relative;
         
     }
     .info-text {
        position:relative;
     }

     .info-one1 {
         display: flex;
         width: 82%;
         justify-content: space-between;
         padding-top: 20px;
     }
     .text-header a {
        text-decoration: none;
        color: #fff;
        border: 2px solid #ffc107;
        padding: 10px 25px;
        left: 21%;
        top: 125%;
         position: absolute; 
        border-radius: 20px;
        transition: 0.3s;
    }
    .text-header a:hover{
        background-color: #ffc107;
        color: #fff;
    }
    .text-header h1 {
        font-size: 38px;
        font-weight: 700;
        color: #fff;
        padding-bottom: 20px;
    }
    .box-content1 {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
        flex-direction: column;
    }
    .box-content {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
        flex-direction: column;
    }
    .box-content .box1,
.box-content1 .box1 {
    background-color: #ffffff;
    height: 300px;
     width: 99.5%;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 10px lightgray;
    border-radius: 2PX;
    transition: all 0.5s;
    
}
.slide {
    height: 3px;
    width: 50px;
    background-color: #ffc107;
    position: absolute;
    left: 45.1%;
    top: 5.6%;

}
.box-content .box2,
.box-content1 .box2 {
    background-color: #ffffff;
    height: 300px;
    width: 100%;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 10px lightgray;
    border-radius: 2PX;
    transition: all 0.5s;
    margin-top: 5%;
}
.box-content .box3,
.box-content1 .box3 {
    background-color: #ffffff;
    height: 300px;
    width: 100%;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 10px lightgray;
    border-radius: 2PX;
    transition: all 0.5s;
    margin-top: 5%;
}
.main-content-container p {
    text-align: center;
    width: 80%;
    margin: auto;
    color: #aab3c7;
}
.info-suggestion p {
    padding-bottom: 35px;
    color: white;
    font-size: 18px;
    width: 100%;
}
.info-suggestion h1 {
    color: white;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 15px;
}
.info-suggestion a {
    text-decoration: none;
    color: white;
    border: 2px solid #ffc107;
    padding: 10px 35px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;
}
.text::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    background-color: #ffc107;
    width: 50px;
    left: 45.3%;
    top: 112%;
}
.info-text P {
    width: 90%;
    text-align: center;
    margin: auto;
    padding-top: 30PX;
    color: #aab3c7;
    font-size: 16px;
}
.port-main-text P {
    width: 90%;
    text-align: center;
    margin: auto;
    padding-top: 20PX;
     color: #aab3c7; 
    font-size: 16px;

}
.option-port .port {
    display: flex;
    width: 63%;
    margin: auto;
    padding-top: 40px;
}
.port-main-container {
    display: flex;
    width: 80.5%;
    margin: auto;
    flex-direction: column;
}
.port-main-profile {
    display: flex;
    margin-left: 5%;
    flex-wrap: wrap;
    margin-top: 7%;
}
.text-TEAM::after {
    content: "";
    height: 3px;
    width: 50px;
    background-color: #ffc107;
    display: block;
    margin: auto;
    margin-left: 43.3%;
}
.team-main-containt{
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: auto;
    padding-top: 30px;
    overflow: hidden;
    flex-direction: column;
}
.team-member-profile {
    height: 350px;
    width: 250px;
    position: relative;
    margin-bottom: 5%;
}
.maindeatils-info {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    flex-direction: column;
     margin: auto;
}
.main-details-one {
    height: 390px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    position: relative;
    overflow: hidden;
    margin: 3% auto;
}
.accordion-item .fa-chevron-down {
    right: -5%;
    position: absolute;
    top: 5%;
}
.accordion h2 {
    position: relative;
    display: block;
    text-align: left;

    width: 100%;
    /*    padding: 1em 0; */
    color: #333333;
    font-size: 1.10rem;

}
.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
}
.two-content-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;

}
.main-content-contact {
    width: 100%;
    margin: auto;
    padding: 40px;
    height: 200px;
    display: flex;
     justify-content: space-around; 
    flex-direction: column;
}
.one-contact .two-content-contact .call-contact {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 40px 10px 40px 10px;
    box-shadow: 0 0 20px rgba(65, 76, 100, 0.09);
    position: relative;
    left: -3%;
    margin: 4%;
}
.one-contact {
    width: 100%;
    position: absolute;
    top:20%;
    right: 0%;
}

.one-contact .two-content-contact .email-contact {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 40px 10px 40px 10px;
    box-shadow: 0 0 20px rgba(65, 76, 100, 0.09);
    margin-left: 0%;
}
.two-contact {
    background-color: white;
    width: 100%;
    padding: 20px 20px 0px 20px;
    box-shadow: 0 0 20px rgba(65, 76, 100, 0.09);
     position:absolute; 
     top: 350%;
    right: 0%;
}
.two-contact #name,
#email {
    width: 97%;
}
.port-main-text p{
    width: 100%;
}

.two-contact button {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 12px 25px 12px 25px;
    margin-left: 29%;
    margin-bottom: 9%;
    border-radius: 20px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    margin-top: 3%;
    transition: 0.9s;
}
.contact-main-container {
    background-color: white;
    padding: 50px;
    height: 255vh;
    position: relative;
}
.main-footer-container {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    color: #414c64;
    flex-direction: column;
}
.main-footer-two,.main-footer-three,.main-footer-four,.main-footer-one  {
    text-align: left;
    width: 100%;
    /* margin-left: -4%; */
    margin-top: 10%;
    text-align: left;
}
.main-footer-one  {
    margin-left: -3%;
}
.main-footer-two ul li ,.main-footer-three ul li{
    list-style: none;
    text-align: left;
    padding: 10px;
    font-size: 16px;
}
.main-footer-two h1,.main-footer-three h1{
    font-size: 18px;
}

.footer-text {
    background-color: #f3f5f8;
    padding: 50px;
    font-weight: 500;
    color: #414c64;
    font-size: 16px;
    display: none;
}
 }